<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Course Attendance App</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="navbar">
      <nav>
        <div class="nav">
          <!-- <a href="/" class="home-link">Course Attendance App</a> -->
          <ul>
            <li>
              <% if (user) { %>
              <a href="/courses"><i class=""></i>All Courses</a>
              <a href="/logout"><i class=""></i>Log Out</a>
              <% } else { %>
              <a href="/auth/google"><i class=""></i>Login with Google</a>
              <% } %>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <header class="main-title">
      <h2>Welcome to Course Attendance App</h2>
      <p>Please Sign in to Continue</p>
    </header>
  </body>
</html>
