<%- include('../partials/header') %>
<p>
  Please first ensure that the Student is not in the dropdown
  <select>
    <% students.forEach(function(s) { %>
    <option><%= s.name %></option>
    <% }) %>
  </select>
</p>
<form id="add-student-form" action="/students" method="POST">
  <label>Name:</label>
  <input type="text" name="name" autocomplete="off" />
  <label>Year</label>
  <select name="year">
    <option value="Freshman">Freshman</option>
    <option value="Sophomore">Sophomore</option>
    <option value="Junior">Junior</option>
    <option value="Senior">Senior</option>
  </select>
  <label>DOB:</label>
  <input type="date" name="born" />
  <input type="submit" value="Add Student" />
</form>
<%- include('../partials/footer') %>
